# Папки збірки (Build results)
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Локальні налаштування Visual Studio (Visual Studio cache/options directory)
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Проміжні файли та кеші (Intermediate and temp files)
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.idb
*.tlog
*.ipch
*.res
*.sqlite
*.opendb
*.db